{% extends "wrapper.html" %}
{% block title %}Lunch Orders{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Orders</h1>
  </div>
</div>

<div class="container">
{{ utils.flashed_messages() }}
    {% if orders|length > 0 %}
    <table class="datatable table table-hover">
        <thead>
            <tr>
                <th>Order</th>
                <th>People Ordering</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{{ url_for('lunch.order', order_id=order.id) }}">{{ order.title }}</a></td>
                <td>{{ order.lines|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No orders have been placed yet.</p>
    {% endif %}
    <a class="btn btn-default" href="{{ url_for('lunch.add_order') }}">Add</a>
</div>
{% endblock %}
