{% extends "wrapper.html" %}
{% block title %}Lunch Orders{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Orders</h1>
  </div>
</div>

<div class="container">
{{ utils.flashed_messages() }}
    {% if orders|length > 0 %}
    <table class="datatable">
        <thead>
            <tr>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No orders have been placed yet.</p>
    {% endif %}
    <a class="btn btn-default" href="{{ url_for('lunch.add_order') }}">Add</a>
</div>
{% endblock %}
