version: '2'

services:

  db:
    image: postgres
    environment:
      POSTGRES_USER: adventure
      POSTGRES_PASSWORD: anothernotverysecurepassword

  ldap:
    image: adventure/ldap
    environment:
      LDAP_DOMAIN: adventure.org
      LDAP_ORGANISATION: Adventure
      LDAP_ADMIN_PASSWORD: notaverysecurepassword

  # create volumes to link ssh and nginx up.
  ssh:
    image: adventure/sshd
    links:
      - ldap

  site:
    image: adventure/adventure
    links:
      - db
      - ldap
    environment:
      CONNECTION_STRING: postgresql://adventure:anothernotverysecurepassword@db:5432/adventure

  nginx:
    image: adventure/nginx
    links:
      - site


