version: '2'

services:

  db:
    image: postgres
    environment:
      POSTGRES_USER: adventure
      POSTGRES_PASSWORD: anothernotverysecurepassword

  ldap:
    image: quay.io/colinn/adventure-ldap
    environment:
      LDAP_DOMAIN: adventure.org
      LDAP_ORGANISATION: Adventure
      LDAP_ADMIN_PASSWORD: notaverysecurepassword

  site:
    image: quay.io/colinn/adventure-site
    links:
      - db
      - ldap
    environment:
      CONNECTION_STRING: postgresql://adventure:anothernotverysecurepassword@db:5432/adventure

  nginx:
    image: quay.io/colinn/adventure-nginx
    links:
      - site
    volumes: 
      - ./cache:/var/cache/nginx

  ssh:
    image: quay.io/colinn/adventure-ssh
    volumes: 
      - ./cache:/var/cache/nginx
    links:
      - ldap
