{% extends "wrapper.html" %}
{% block title %}Menu Admin{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Upload Menus</h1>
  </div>
</div>

<div class="container">
{{ utils.flashed_messages() }}
<form method="POST" class="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens='only') }}

  {%- for field in form %}
    {% if not bootstrap_is_hidden_field(field) -%}
    {% if field.type == 'FieldList' %}
      {%- for field in field.entries %}
          {{ wtf.form_field(field,
                form_type='basic',
            ) }}
      {%- endfor %}
    {% else %}
      {{ wtf.form_field(field,
                    form_type='basic',
                    ) }}
    {%- endif %}
    {%- endif %}
  {%- endfor %}

</form>
</div>
{% endblock %}


