{% extends "wrapper.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Sign up</h1>
  </div>
</div>
<div class="container">
<p>Enter your email address and we will send you a registration link.
You can either click the link provided, or enter the code provided into
the <a href="/auth/register">registration</a> page.
</p>
<p>Note that only email addresses from the following domains will be 
accepted.</p>
<ul>
    <li>minnow.com</li>
    <li>babel.com</li>
</ul>
<div>
{{ utils.flashed_messages() }}
{{ wtf.quick_form(form) }}
</div>
<p>Once you have your email follow the link or go here to 
<a href="/auth/register">register</a>.</p>
</div>
{% endblock %}

