{% extends "wrapper.html" %}
{% block title %}Phone Search{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Phone Search</h1>
  </div>
</div>

<div class="container">
{{ utils.flashed_messages() }}
<p>Enter a phone number to figure out which office called.</p>
<p>Be careful about callers attempting to phish information via phone.  Verify who is calling.</p>
{{ wtf.quick_form(form, method='get') }}
{% if result.set %}
<br>
{% if result.company %}
<p>The call was from {{ result.company.name }}, main number {{ result.company.main_number }}.</p>
{% else %}
<p><strong>This number was not recognised</strong></p>.
{% endif %}
{% endif %}
</div>
{% endblock %}






